* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    background-color: black;
    width: fit-content;
    margin: 10% auto;
    position: relative;
    padding: 40px 15px 15px 15px;
    border-radius: 10px;
}

.screen {
    margin-top: 10px;
    text-align: end;
    width:315px;
    font-size: 67px;
    overflow: hidden;
    /* background-color:#f5f2eb; */
    color: white;
    border-radius: 10px;
    padding: 0 5px;
   
}

.keys {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
}

button {
    height: 70px;
    font-size: 30px;
    color: aliceblue;
    border-radius: 50%;
    background-color: #636262;
    border: none;
    outline: none;
}
button:hover,.sp-key.special:hover{
    background-color: #d1d0cd;
}
.special-keys {
    display: grid;
    grid-template-columns: 150px 70px 70px;
    gap: 10px;
    margin-top: 10px;
}

.zero {
    border-radius: 25px;
}

.sp-key {
    background-color: #f5ad1d;
}
.sp-key.special{
    background-color:#f5f2eb;
    color: black;
}
.sp-key:hover{
    background-color:#e6781e;
}